{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/seaside-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            {% if is_edit: %}
                            <h1>Edit Post</h1>
                            {% else: %}
                            <h1>Add Project</h1>
                            {% endif %}
                            <hr>
                            <span class="subheading">Submit a project here!</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>To add a project please fill out the project form below</p>
                        <div class="my-5">
                            {{ ckeditor.load() }}
                            {{ ckeditor.config(name='description') }}
                            {{ render_form(form, novalidate=True) }}
                        </div>
                    </div>
                </div>
            </div>
        </main>

{% include "footer.html" %}